/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
id_rsa
_ide_helper.php
.phpstorm.meta.php
/resources/godlike
/resources/info
/desktop-apps
/_sql